* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* header */
h4{
    font-size: 17px  !important;
}
h3{
    font-size: 20px  !important;
}

.container {
    max-width: 1600px;
    margin: 0 auto;
}

.header {
    max-width: 100%;
    box-sizing: border-box;
}
.header-top{
    background-color: lightgray;
    width: 100%;
}
.header-top p{
    text-align: center;
    color: gray;
    padding: 5px;
}
.header-logo .container .desktop-search {
    display: grid;
    grid-template-columns: 20% 60% 20%;
}



/* search mobile */

.header-logo .container .search-input-mobile {
    width: 100%;
    padding: 10px;
    border: 1px solid black;
    border-radius: 10px;
    display: flex;
    align-items: center;
}

.header-logo .container .search-input-mobile input {
    outline: none;
    border: none;
    width: 100%;
    margin-left: 10px;
}

.menu-icon {
    display: flex;
    align-items: center;
}

.menu_push{
    position: fixed;
    width: 300px;
    background-color: white;
    opacity: 1;
    height: 100vh;
    z-index: 5;
    top: 0;
    left: -400px;
    transition: left 0.5s ease; 
    z-index: 100;
}
.active_menu{
    left: 0px;
    transition: 0.5s;
}
.active_menu_2{
    left: -400px;
    transition: 0.5s;
}
.menu_overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5); 
    z-index: 99; 
    display: none; 
}
/* end search mobile */

.header-logo .container .logo {
    display: flex;
    align-items: center;
    font-weight: bold;
    font-size: 30px;
}

.header-logo .container .search {
    border: 1px solid black;
    padding: 12px;
    border-radius: 10px;
}

.header-logo .container .search .search-input {
    display: flex;
    align-items: center;
}

.header-logo .container .search input {
    border: none;
    outline: none;
    width: 100%;
    margin-left: 10px;
    width: 100%;
}

.sign-in-item {
    display: flex;
    justify-content: right;
    align-items: center;
}

.item_1,
.item_2,
.item_3 {
    margin-left: 30px;
    font-size: 30px;
}


/* menu */

.desktop-menu {
    display: flex;
    list-style: none;
    justify-content: space-between;
}

i.fa.fa-bars {
    font-size: 20px;
}
.bottom_sale{
    width: 100%;
}


.desktop-menu {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    justify-content: space-between;
  
}

.desktop-menu li {
    position: relative;
}

.desktop-menu li a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    color: #333; 
    padding: 10px 15px;
    transition: color 0.3s ease, transform 0.3s ease; 
}


.desktop-menu li:hover a {
    color: gray; 
}

.desktop-menu li a::after {
    content: "";
    position: absolute;
    bottom: -5px; 
    left: 0; 
    width: 0; 
    height: 3px; 
    background-color: gray; 
    transition: all 0.3s ease-in-out; 
}

.desktop-menu li:hover a::after {
    width: 100%; 
}

/* bck hover */
/* Cấu hình bck-hover-navbar */
.bck-hover-navbar {
    color: gray;
    background-color: white;
    position: absolute;
    left: 50%;
    top: 18%;
    transform: translateX(-50%);
    width: 100%;
    justify-content: space-around;
    padding: 5px 100px;
    opacity: 0; /* Ẩn navbar mặc định */
    visibility: hidden; /* Ẩn navbar mặc định */
    transition: opacity 0.3s, visibility 0s linear 0.3s; /* Mượt mà cho opacity và visibility */
    z-index: 100;
    border-top: 3px solid gray;
}

/* Khi navbar được hiển thị */
.bck-hover-navbar.show-navbar-hover {
    opacity: 1; /* Hiển thị navbar */
    visibility: visible; /* Navbar có thể nhìn thấy */
    transition: opacity 0.3s, visibility 0s linear 0s; /* Chỉ thay đổi opacity và visibility ngay lập tức */
}

/* Cấu hình cho menu item trong navbar */
.bck-hover-navbar .hover-menu-sp {
    line-height: 40px;
    font-size: 18px;
    margin-top: 20px;
}

/* Cấu hình cho tiêu đề trong menu item */
.bck-hover-navbar .hover-menu-sp h2 {
    font-size: 20px;
    font-weight: bold;
}

/* Khi hover lên tiêu đề trong menu item */
.bck-hover-navbar .hover-menu-sp h2:hover {
    font-size: 20px;
    color: red;
    font-weight: bold;
}
/* end bck hover */

/* menu */

.bck-hover-navbar.show-navbar-hover {
    display: flex; /* Hiển thị navbar */
    opacity: 1; /* Hiển thị navbar */
    transition: opacity 0.2s; /* Hiệu ứng mượt mà */
}
/* end header */

/* form đăng nhập */
.form_login{
    position: absolute;
    width: 500px;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    z-index: -5;
    transition: 0.2s;

}
.form_show{
    opacity: 1;
    transition: 0.2s;
    z-index: 100;

}
.form{
   max-width: 100%;
   background: rgba(0, 0, 0, 0.788);
   padding: 50px 30px;
   color: white;
   transition: 0.2s;
}
.form h1{
 text-align: center;
 font-size: 25px;
}
.input_user{
    width: 100%;
    display: grid;
    grid-template-columns: 90% 10%;
    margin-top: 15px;
}
.input_user i{
    color: white;
    font-size: 20px;
}
.input_password i{
    color: white;
    font-size: 20px;
}
.input_check{
   display: flex;
   justify-content: space-between;
   font-size: 18px;
   margin-top: 20px;

}
.ck_box{
    display: flex;
    align-items: center;
}
.ck_box input{
    margin-right: 10px;
}

.form_login input{
    padding: 15px;
    background: rgba(0, 0, 0, 0.733);
    border: none;
    outline: none;
    color: white;
}
.form_login .icon_login{
    padding: 10px 10px;
    background-color: brown;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.2s;
}
.input_password{
    width: 100%;
    display: grid;
    grid-template-columns: 90% 10%;
    margin-top: 15px;
}
.btn_login{
    text-align: center;
    display: grid;
    grid-template-columns: 48% 48%;
    justify-content: space-between
    ;
}
.btn_login button{
    border: none;
    color: white;
    background: brown;
    padding: 10px;
    margin-top: 20px;
    font-size: 17px;
}
.btn_login .dn{
    border: 1px solid brown !important;
    color: brown;
    background: none !important;
    padding: 10px;
    margin-top: 20px;
    font-size: 17px;
}
.error-message{
    color: red;
    font-size: 14px;
    margin-top: 5px;
    display: block;
}
/* form đăng nhập */
/************************** body ***********************/

.banner {
    background-image: url(../img_index/c077025ae88853d60a99.jpg);
    height: 400px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    max-width: 100%;
    border-radius: 10px;
}

.main {
    margin-top: 20px;
}

.main .banner img {
    border-radius: 10px;
}


/* THương hiệu */


/* table_center_thuonghieu giúp thu gọn phần thương hiệu sát với web */

.table_thuonghieu {
    margin: 20px 0px;
}

.table_center_thuonghieu {
    max-width: 1450px;
    margin: 0 auto;
}

.thuong_hieu {
    display: grid;
    gap: 15px 20px;
    grid-template-columns: repeat(6, minmax(0, 1fr));
}

.thuong_hieu .thuong_hieu_item img {
    max-width: 100%;
}

.thuong_hieu .thuong_hieu_item p {
    padding-top: 5px;
}


/* THương hiệu */


/* list_thuong_hieu */

.list_thuong_hieu{
    max-width: 100%;
    overflow: hidden;
    height: var(--height);
    /* mask-image: linear-gradient(
        to right,
        transparent,
        #7e3e3e,
        transparent
    ); */
}
.list_thuong_hieu .list{
    display: flex;
    width: 100%;
    min-width: calc(var(--width)*var(--quantity));
    position: relative;
    justify-content: space-between;
}
.list_thuong_hieu .tab {
    transition: filter 0.5s;
    border-radius: 3px;
    padding: 0px 17px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: black;
    width: var(--width);
    height: var(--height);
    position: absolute;
    left: max(calc(150px*8),100%);
    animation: autoRun 10s linear infinite; 
    animation-delay: calc((10s / var(--quantity))*(var(--position) - 1))!important;
}

.list_thuong_hieu .tab a {
    width: 100%;
    padding-right: 16px;
    text-decoration: none;
    font-size: 15px;
    font-weight: 700;
}

.list_thuong_hieu .tab i {
    font-size: 22px;
}
@keyframes autoRun{
    from{
        left:100%;
    }to{
        left:calc(var(--width)*-1);
    }
}
.list_thuong_hieu:hover .tab{
    animation-play-state: paused !important;
    filter: grayscale(1);
}
.list .tab:hover{
    filter: grayscale(0);
}
.list_thuong_hieu[reverse = "true"] .tab{
    animation: reversePlay 10s linear infinite;
}
@keyframes reversePlay{
    from{
        left:calc(var(--width)*-1);
    }to{
        left:100%;
    }
}
.list_thuong_hieu .list_2 .tab{
    border: none;
    width: 250px;
    border-radius: 10px;
}
.list_thuong_hieu .list_2 .tab img{
   width: 100%;
   border-radius: 10px;
}
/* end list_thuong_hieu */


/* sale thương hiệu */

.sale_thuonghieu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0px;
}

.sale_thuonghieu h1 {
    color: gray;
}

.sale_thuonghieu .button_sale button {
    background-color: black;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
}


/* end sale thương hiệu */


/* sale_sanpham */

.sale_sanpham {
    display: grid;
    gap: 20px 50px;
    grid-template-columns: repeat(2, minmax(10px, 100%));
    margin-top: 20px;
}
.sale_sanpham img{
    width: 100%;
    border-radius: 10px;
}

.sale_sanpham_item12 h3 {
    font-size: 18px;
    font-weight: 500;
    margin: 0;
}
.sale_sanpham_item12{
    display: grid;
    grid-template-columns: repeat(2, minmax(10px, 50%));
    gap: 20px 50px;
}
@media (max-width: 1506px) {
    .sale_sanpham_item12{
        display: grid;
        grid-template-columns: repeat(2, minmax(10px, 50%));
        gap: 20px 20px;
    }
}
/* end sale_sanpham */



/* Protduct_list */
.product_list{
    margin-top: 30px;
   
}
.pr_ls{
    display: none;
}
.tab_list{
    display: block;
}
.product_list h2{
    text-align: center;
    color: rgb(87, 87, 87);
    font-weight: 600;
}
.product_list h4{
    text-align: center;
    color: rgb(87, 87, 87);
    font-weight: 600;
}
.product_list p{
   display: -webkit-box;
   color: gray;
   text-align: center;
   text-overflow: ellipsis; 
   -webkit-box-orient: vertical;
   overflow: hidden;
   -webkit-line-clamp: 3;
   
}
.product_list_grid{
    display: grid;
    gap: 20px 50px;
    grid-template-columns: repeat(5, minmax(0, 1fr));
    margin-top: 20px;
    
}

.product_list_grid .product_list_card img{
    width: 100%;
}

.pr_list_card_img{
    position: relative;
    transition: 0.5s;
    
}
.pr_img_default{
    position: relative;
    z-index: 1;
    transition: 0.5s;
}
.pr_img_hover{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    opacity: 0;
    transition: 0.5s;
}
.pr_list_card_img:hover .pr_img_hover{
    opacity: 1;
    transition: 0.5s;
}


/*end Protduct_list */
/* độ uy tín */
.table_ut{
    background-color: #4d585e;
    width: 100%;
    border-radius: 10px;
    color: white;
    padding: 70px 10px;
    margin-top: 30px;
}
.table_ut_txt h1{
    margin: 0;
    padding: 0;
    font-size: 20px;
}
.table_ut_txt p{
    margin: 0;
    padding: 0;
    font-size: 17px;
}
.table_ut_txt {
    margin-left: 20px;
}
.logo_ut{
    display: flex;
    justify-content: center;
    align-items: center;
}
.table_ut_tt{
    display: grid;
    gap: 20px 50px;
    grid-template-columns: repeat(4, minmax(0, 20%));
    justify-content: center;
    margin-top: 20px;
    text-align: center;
    margin-top: 50px;
}
.table_ut_tt_mobile hr{
   border-color: gray;
}
.mb_tt_toggle{
    display: flex;
    justify-content: space-between;
}
.mb_tt_1{
    display: flex;
    align-items: center;
}
.mb_tt_1 p{
    margin-left: 10px;
}
/* end độ uy tín */
/* Thương hiệu nổi bật */
.Featured_grid{
    display: grid;
    grid-template-columns: repeat(2, minmax(0,40%));
    justify-content: space-around;
    margin-top: 50px;
}

.Featured_txt .list_thuong_hieu_n{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px 0px;
}
.tab_thuong_hieu{
    justify-content: center !important; 
}
.Featured_txt .list_thuong_hieu_n .tab{
    margin: 5px;
    color: #4d585e;
    border: 1px solid lightgray;
    padding: 7px 20px;
    border-radius: 5px;
    font-size: 17px;
    cursor: pointer;
}
.Featured_txt .list_thuong_hieu_n .tab_th{
    margin: 5px;
    color: #4d585e;
    border: 1px solid lightgray;
    padding: 10px 30px;
    border-radius: 5px;
   
}

.Featured_txt .list_thuong_hieu_n .tab a{
    text-decoration: none;
    padding-right: 10px;
}

.Featured_grid_nam .btn_ft{
    display: flex;
    justify-content: center; 
    align-items: center;   
}
.Featured_grid_nam .img_ft_nam{
    display: flex;
    justify-content: center; 
    align-items: center;   
}
.Featured_grid_nam .img_ft_nam img{
    border-radius: 50%;
    margin-bottom: 20px;
}
.Featured_grid_nu .img_ft_nu img{
    border-radius: 50%;
    margin-bottom: 20px;
}
.Featured_grid_nu .img_ft_nu{
    display: flex;
    justify-content: center; 
    align-items: center;   
}
.Featured_grid_nu .btn_ft{
    display: flex;
    justify-content: center; 
    align-items: center;   
}
.Featured_grid button{
    width:50%;
    background-color: #4d585e;
    font-size: 17px;
    color: white;
}

/* end Thương hiệu nổi bật */

/* Tin tức */
.sp_grid_blog{
    display: grid;
    grid-template-columns: 32% 32% 32%;
    justify-content: space-between;
    margin-top: 30px;
}
.sp_grid_blog_2{
    display: grid;
    grid-template-columns: 66% 32% ;
    justify-content: space-between;
    margin-top: 30px;
}
.sp_blog_1_1{
    display: grid;
    grid-template-columns: 100% ;
    justify-content: space-between;
}
.blog_img_1{
    background-image:url("../IMG2/tintuc/blog_8.jpg");
    background-position: center; 
	width: 100%;
	height: 250px;
}
.blog_img_2{
    background-image:url("../IMG2/tintuc/12.jpg");
    background-position: center; 
	width: 100%;
	height: 250px;
}
.sp_blog_1{
     width: 100%;
}
.sp_blog_1 p{
    display: -webkit-box;
    color: gray;
    text-overflow: ellipsis; 
    -webkit-box-orient: vertical;
    overflow: hidden;
    -webkit-line-clamp: 3;

}
.sp_blog_1 h4{
    margin-bottom: 0px;
    padding-bottom: 0px;
    font-size: 20px;
}
.sp_blog_1 h3{
    font-weight: 600;
    font-size: 25px;
    margin: 5px 0px;
}
.sp_blog_1 p{
    color: gray;
}
.sp_blog_1 img{
     width: 100%;
}
.blog_button button{
   background-color: black;
   border: none;
   padding: 10px 20px;
   color: white;
   border-radius: 5px;

}
.blog_button{
  text-align: right;
  margin-top: 20px;

}
/*  */
/* end Tin tức */


/* footer */
.footer{
    background-color:#9f1d25;
    width: 100%;
    margin-top: 20px;
}
.footer_bck{
    padding-top: 20px;
}
.ft_grid{
    display: grid;
    grid-template-columns: 21% 18% 18% 30%;
    justify-content: space-between;
    padding: 20px;
    color: white;
}
.ft_grid{
    line-height: 40px;
}
.ft_grid p{
    font-size: 17px;
}
.ft_1 iframe{
    max-width: 100%;
    height: 40%;
}
.form_ft .fr{
    width: 100%;
}
.form_ft h3{
    text-align: center;
}
.form_ft .ft_1_1{
    display: grid;
    grid-template-columns: 49% 49%;
    justify-content: space-between;

}
.form_ft .fr input{
    background: none;
    border: 1px solid white;
    margin-bottom: 10px;
    width: 100%;
    outline: none;
    color: white;
    padding-left: 10px;
}
.form_ft .fr input::placeholder {
    color: white;
    
}
.form_ft .fr_3 {
    height: 200px;
}
.ft_end{
    background-color: #79161d;
    width: 100%;
    padding: 10px 0px;
    color: white;
    text-align: center;
    
}
  
  

/* End Footer */

/* hover button */
.list_thuong_hieu_n{
    position: relative;
}

.price:hover {
    border: 1px solid black;
}
.price  a{
    transition: color 0.4s linear;
}
.price:hover{
     border: 1px solid black !important;
     color: black !important;
}


.tab_bck { 
    border: 1px solid black !important ;
     
}
.tab_bck p{ 
      color: black;
    
     
}
/* end hover button */
/* ẩn của desktop */
/* tư vấn */
.btn_mess_user{
    background-color: brown;
    border: none;
    padding: 15px;
    width: 300px;
    font-size: 17px;
    border-radius: 10px;
    color: white;
    text-align: left;
    right: 80px;
    position: fixed;
    bottom: 60px;
    z-index: 10;
}
.form_mess_user{
    height: 500px;
    width: 400px;
    border-radius: 10px;
    overflow: hidden;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;    position: fixed;
    bottom: 100px;
    right: 20px;
    z-index: 10;
   
}
.form_fix{
    opacity: 0;
    overflow: hidden;
    transition: 0.5s;
    position: fixed;
    bottom:-450px;
    right:80px;
    border-radius: 5px;
    z-index: 99;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.form_fix_1{
    bottom:150px;
    transition: 0.5s;
    opacity: 1;
}
.form_mess{
    background-color: brown;
    height: 300px;
    width: 300px;
    border-radius: 5px;
    overflow: hidden;
    position: relative;
}
.form_mess_input{
    width: 100%;
    padding: 10px 20px;
}
.form_mess_login{
    background-color: white;
    height: 100%;
    width: 150%;
    border-radius: 30%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom:-75%;
    text-align: center;
    transition: 0.5s;

}
.anime_mess_login{
    bottom:-20%;
    transition: 0.5s;
}
.form_mess_login h2 {
    font-size: 17px;
    margin-top: 10px;

}
.form_mess_login h2 button {
   color: white;
   border: none;
   background-color: brown;
   width: 200px;
   padding: 10px 10px;
   border-radius: 10px;
   
}

.form_mess_input h2{
   color: white;
   font-size: 17px;
   text-align: center;
   margin-bottom: 20px;
   margin-top: 20px;
}
.form_mess_input input{
   width: 100%;
   padding: 10px 20px;
   border: none;
   border-radius: 10px;
   margin-top: 5px;
   margin-bottom: 5px;
   
}
     
/************************** end body *********************/

/************* reponsive *****************/


/* ẩn của mobile */


@media (min-width: 1030px) {
    .s-mobile {
        display: none;
    }
    .menu-icon {
        display: none;
    }
    .table_ut_tt_mobile{
        display: none;
    }
    .hide_ft_4_deskop{
        display: none !important;
    }
}


/* ẩn của mobile */


/* ẩn của desktop */

@media (max-width: 1030px) {
    
    .container .banner {
        height: 214px;
    }
    .desktop-menu {
        display: none;
    }
    .hr_desktop_menu {
        display: none;
    }
    .search {
        display: none;
    }
    .header-logo .container .desktop-search {
        display: grid;
        grid-template-columns: 3% 47% 50%;
    }
    hr {
        margin-bottom: 0;
    }
    
    .product_list_grid{
        display: grid;
        gap: 20px 50px;
        grid-template-columns: repeat(3, minmax(0, 1fr));
        margin-top: 20px;
    }
    .card_end{
        display: none;
    }
    .table_ut_tt_mobile hr{
        margin-bottom: 20px;
    } 
    .table_ut_tt{
        display: none;
    }
    .ls_grid_ipad{
        display: none;
    }
    .logo{
        font-size: 25px !important;
    }
    body{
        padding: 0px 10px !important;
      }
      /* tintuc */
      .blog_img_1{
        background-image:url("../IMG2/tintuc/blog_8.jpg");
        background-position: center; 
        width: 100%;
        height: 200px;
    }
    .blog_img_2{
        background-image:url("../IMG2/tintuc/12.jpg");
        background-position: center; 
        width: 100%;
        height: 200px;
    }
      /* end tintuc */
      /* footer */
      .ft_grid{
        display: grid;
        grid-template-columns: 40% 30% 30%;
        justify-content: space-between;
        padding: 20px;
        color: white;
        }
        .ft_grid .ft_4{
         display: none;
        }
        .form_ft h3{
            color: white;
            margin-bottom: 10px;
            
        }
        .form_ft .fr input{
           
            padding: 10px 20px;
        }
          .hide_ft_4_deskop{
            padding: 20px;
           
        }
        .ft_2{
            margin-left: 20px;
        }
      /* end footer */
}
/* footer */
@media (min-width: 767px){
    .footer_mb{
        display: none;
    }
    .footer_bck{
        display: block !important;
    }
}
/* end footer */
@media (max-width: 767px) {
   
    .menu_push a{
        text-decoration: none;
        padding: 10px;
        font-size: 15px;
        line-height: 50px;
    }
    .nam{
        display: flex;
        justify-content: space-between;
        position: relative;
    }
    .icon_push{
        position: absolute;
        top: 16px;
        right: 10px;
        font-size: 20px;
    }
    .product_list_grid{
        display: grid;
        gap: 20px 50px;
        grid-template-columns: repeat(2, minmax(0, 1fr));
        margin-top: 20px;
        font-size: clamp(10px, 8vw, 15px);

    }
    .card_end{
        display: block;
    }
    .thuong_hieu {
        display: grid;
        gap: 10px 10px;
        grid-template-columns: repeat(2, minmax(0, 1fr));
        justify-content: space-between;
    }
    .sale_sanpham {
        display: grid;
        grid-template-columns: repeat(1, minmax(10px, 1fr));
    }
    
    .sale_sanpham .sale_sanpham_item {
        width: 100%;
        
    }

    .sale_sanpham_item12 img {
        width: 100%;
    }
    .sale_sanpham_item1 {
        padding-right: 10px;
    }
    .sale_sanpham_item2 {
        padding-left: 10px;
    }
    .sale_sanpham_item {
        padding-top: 20px;
    }
    .Tintuc .Tintuc_grid{
        display: grid;
        grid-template-columns: repeat(1, minmax(0,100%));
        justify-content: space-between;
     }
    .Tintuc .Tintuc_grid .grid_3_none{
        display: none;
    }
    .Featured_grid{
        display: grid;
        grid-template-columns: repeat(1, minmax(0,1fr));
        justify-content: space-around;
        margin-top: 50px;
    }
    .Featured_grid img{
        display: none;
    }
    .Featured_grid button{
        width: 100%;
        background-color: #4d585e;
        font-size: 17px;
        color: white;
    }
    .list_thuong_hieu .list_2 .tab{
        border: none;
        width: 200px;
        border-radius: 10px;
    }


      /* info shop */
      .info_shop{
        color: white;
        text-align: center;
        padding: 10px;
        line-height: 40px;
      }
      .ag-format-container{
        display: none;
      }
      .banner { 
        height: 200px;
    }
    body {
        padding-left: 10px !important;
        padding-right: 10px !important;
    }
    .logo{
        margin-left: 10px;
        font-size: 20px !important;
    }
    .bk_mess,.tamgia{
        display: none;
    }
    .mess_user{
        display: none !important;
    }
    .blog_img_1{
        background-image:url("../IMG2/tintuc/blog_8.jpg");
        background-position: center; 
        width: 100%;
        height: 120px;
    }
    .blog_img_2{
        background-image:url("../IMG2/tintuc/12.jpg");
        background-position: center; 
        width: 100%;
        height: 120px;
    }
    .sp_blog_1 h3{
        font-size: 15px !important;

        
    }
    body{
        padding: 0px 20px;
    }
    .form_login{
        display: none;
    }
    .Featured_grid_nu{
        margin-top: 20px;
    }
     /* Footer */
     .footer_bck{
        display: none;
    }
    .footer_mb{
        color: white;
        line-height: 50px !important; 
        padding: 20px;
    }
    .ft_mb_grid{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .footer_mb h3{
        font-size: 17px;
    }

     
    
     /* footer */
    }
    

    


/* tư vấn */
/************* end reponsive *****************/
