* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
/* header */
body{
    padding: 0px 10px;
}


.container {
    max-width: 1600px;
    margin: 0 auto;
}

.header {
    max-width: 100%;
    box-sizing: border-box;
}
.header-top{
    background-color: lightgray;
    width: 100%;
}
.header-top p{
    text-align: center;
    color: gray;
    padding: 5px;
}
.header-logo .container .desktop-search {
    display: grid;
    grid-template-columns: 20% 60% 20%;
}
/* search mobile */
.header-logo .container .search-input-mobile {
    width: 100%;
    padding: 10px;
    border: 1px solid black;
    border-radius: 10px;
    display: flex;
    align-items: center;
}

.header-logo .container .search-input-mobile input {
    outline: none;
    border: none;
    width: 100%;
    margin-left: 10px;
}

.menu-icon {
    display: flex;
    align-items: center;
}

.menu_push{
    position: fixed;
    width: 300px;
    background-color: white;
    opacity: 1;
    height: 100vh;
    z-index: 5;
    top: 0;
    left: -400px;
    transition: left 0.5s ease; 
    z-index: 100;
}
.active_menu{
    left: 0px;
    transition: 0.5s;
}
.active_menu_2{
    left: -400px;
    transition: 0.5s;
}
.menu_overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5); 
    z-index: 99; 
    display: none; 
}
/* end search mobile */

.header-logo .container .logo {
    display: flex;
    align-items: center;
    font-weight: bold;
    font-size: 30px;
}

.header-logo .container .search {
    border: 1px solid black;
    padding: 12px;
    border-radius: 10px;
}

.header-logo .container .search .search-input {
    display: flex;
    align-items: center;
}

.header-logo .container .search input {
    border: none;
    outline: none;
    width: 100%;
    margin-left: 10px;
    width: 100%;
}

.sign-in-item {
    display: flex;
    justify-content: right;
    align-items: center;
}

.item_1,
.item_2,
.item_3 {
    margin-left: 30px;
    font-size: 30px;
}


/* menu */


.desktop-menu {
    display: flex;
    list-style: none;
    justify-content: space-between;
}

i.fa.fa-bars {
    font-size: 20px;
}
.bottom_sale{
    width: 100%;
}


.desktop-menu {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    justify-content: space-between;
  
}

.desktop-menu li {
    position: relative;
}

.desktop-menu li a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    color: #333; 
    padding: 10px 15px;
    transition: color 0.3s ease, transform 0.3s ease; 
}


.desktop-menu li:hover a {
    color: gray; 
}

.desktop-menu li a::after {
    content: "";
    position: absolute;
    bottom: -5px; 
    left: 0; 
    width: 0; 
    height: 3px; 
    background-color: gray; 
    transition: all 0.3s ease-in-out; 
}

.desktop-menu li:hover a::after {
    width: 100%; 
}
.slide_toggle_ut_1,
.slide_toggle_ut_2,
.slide_toggle_ut_3,
.slide_toggle_ut_4,
.slide_toggle_ut_5{
    position: relative;
}
/* Style cho menu */

/* Style cho dropdown */

  

/* menu */


/* end header */


/************************** body ***********************/

.banner {
    background-image: url(../img_index/banner.jpg);
    height: 400px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    max-width: 100%;
    border-radius: 10px;
}


.table_thuonghieu {
    margin: 20px 0px;
}

.table_center_thuonghieu {
    max-width: 1300px;
    margin: 0 auto;
}

.thuong_hieu {
    display: grid;
    gap: 15px 20px;
    grid-template-columns: repeat(6, minmax(0, 1fr));
}

.thuong_hieu .thuong_hieu_item img {
    max-width: 100%;
}

.thuong_hieu .thuong_hieu_item p {
    padding-top: 5px;
}


/* THương hiệu */
/* filter sanpham */
.grid_filter_sanpham_body{
    display: flex;
}
.grid_filter_sanpham_body .filter_sanpham_grid{
    flex: 0 0 300px;
    margin-right: 30px;
    height: 100vh;
}
.grid_filter_sanpham_body .filter_sanpham_grid {
    overflow-y: scroll;
    top: 0;
    align-self: flex-start;
    position: sticky;
}
.grid_filter_sanpham_body .filter_sanpham_grid .filter_sanpham {
    margin-right: 20px;
}

.filter_sanpham_grid::-webkit-scrollbar {
    width: 6px; 
    height: 5px; 
  }
 
  .filter_sanpham_grid::-webkit-scrollbar-track {
    background: none;
    border-radius: 10px; 
  }
  

  .filter_sanpham_grid::-webkit-scrollbar-thumb {
    background: #c2c1c1;
    border-radius: 10px; 
  }
  

  .filter_sanpham_grid::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

.grid_check{
    display: grid;
    align-items: center;
    grid-template-columns: auto auto;
    gap: 20px 25px;
}

.price_box{
    border: 1px solid grey;
    padding: 10px;
    text-align: center;
    border-radius: 10px;
    cursor: pointer;
}
.borderselect{
    border: 2px solid black;
}
.min_max{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    cursor: pointer;
}
.min_max input{
   width: 100px;
   padding: 5px;
   border-radius: 10px;
}
input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button{
    -webkit-appearance: none;
    margin: 0;
}
.min_max span{
    padding:5px;
    font-weight: 500;
 }
.price_box:hover{
    background-color: black;
    color: white;
}
.check_box_filter{
    display: flex;
    align-items: center;
    
}
input[type="checkbox"]{
    height: 25px;
    width: 25px;
    margin-right: 10px;
}
.grid_sp_angle {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.grid_sp_angle h5{
    font-weight: 500;
}

.filter_mb h3{  
    font-weight: 500;
    font-size: 22px;
}
.filter_mb_price button{
    padding: 10px 20px;
    background: none;
    border: 1px solid lightgray;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 550;
    margin: 5px 7px;
}
.ft_mb{
    display: none;
}
.filter_block{
    width: 100%;
    height: 300px;
    background: white;
    position: fixed;
    bottom: -500px;
    right: 0;
    left: 0;
    z-index: 999;
    border-radius: 10px;
    transition: all 0.6s ease; /* Hiệu ứng mượt */
}
.filter_block_active{
    bottom: 0px;
    transition: 0.5s;
}
.bk_black{
    opacity: 0;
    background-color: black;
    width: 100vw;
    height: 100vh;
    z-index: -10;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: 0.5s;
}
.bk_bl{
    z-index: 900;
    opacity: 0.7;
    transition: 0.5s;
}
.active_menu_gia{
    z-index:999;
    transition: 0.5s;
}

/* end filter sanpham */
/* sanpham_nam */
.filter_list_menu {
    display: flex;
    justify-content: space-between;
    max-width: 100%; 
    overflow: hidden; 
}
.filter_list_menu {
    display: flex;
    overflow-x: auto; 
    white-space: nowrap; 
}
.sanpham_nam{
    width: 80%;
    padding: 10px;
}

.filter_list_menu button{
   background: rgb(231, 230, 230);
   border: none;
   border-radius: 10px;
   width: 200px;
   margin: 10px;
}
.filter_list_menu button a{
   text-decoration: none;
   color: black;
}
.filter_list_menu{
   display: flex;
   justify-content: space-between;
}
.filter_list h1{
  color: rgb(77, 75, 75);
  font-weight: 500;
}
.filter_list{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* end sanpham_nam */
/* list_thuong_hieu */

.list_thuong_hieu {
    display: flex;
    justify-content: space-between;
}

.list_thuong_hieu .tab {
    border: 1px solid lightgray;
    border-radius: 3px;
    padding: 7px 17px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: gray;
}

.list_thuong_hieu .tab a {
    padding-right: 16px;
    text-decoration: none;
    font-size: 15px;
    font-weight: 700;
}

.list_thuong_hieu .tab i {
    font-size: 22px;
}

/* end list_thuong_hieu */
/* Protduct_list */
.product_list{
    margin-top: 30px;
    display: none;
}
.tab_list{
    display: block;

}
.product_list h2{
    text-align: center;
    color: rgb(87, 87, 87);
    font-weight: 600;
}
.product_list h4{
    text-align: center;
    color: rgb(87, 87, 87);
    font-weight: 600;
}
.product_list p{
   display: -webkit-box;
   color: gray;
   text-align: center;
   text-overflow: ellipsis; 
   -webkit-box-orient: vertical;
   overflow: hidden;
   -webkit-line-clamp: 3;
   
}
.product_list_grid{
    display: grid;
    gap: 20px 50px;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    margin-top: 20px;

    
}

.product_list_grid .product_list_card img{
    width: 100%;
}

.pr_list_card_img{
    position: relative;
    transition: 0.5s;
}
.pr_img_default{
    position: relative;
    z-index: 1;
    transition: 0.5s;
}
.pr_img_hover{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    opacity: 0;
    transition: 0.5s;
}
.pr_list_card_img:hover .pr_img_hover{
    opacity: 1;
    transition: 0.5s;
}
.list_sp_ft{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}
.list_sp_ft button{
    height: 50px;
    width: 50px;
    border: 1px solid gray;
    background-color: none;
    margin: 10px;
    font-size: 17px;
    border-radius: 5px;
    background: none;
}

/*end Protduct_list */

/* Tin tức */
.sp_grid_blog{
    display: grid;
    grid-template-columns: 32% 32% 32%;
    justify-content: space-between;
    margin-top: 30px;
}
.sp_grid_blog_2{
    display: grid;
    grid-template-columns: 66% 32% ;
    justify-content: space-between;
    margin-top: 30px;
}
.sp_blog_1_1{
    display: grid;
    grid-template-columns: 100% ;
    justify-content: space-between;
}
.blog_img_1{
    background-image:url("../IMG2/tintuc/blog_8.jpg");
    background-position: center; 
	width: 100%;
	height: 300px;
}
.blog_img_2{
    background-image:url("../IMG2/tintuc/12.jpg");
    background-position: center; 
	width: 100%;
	height: 300px;
}
.sp_blog_1{
     width: 100%;
}
.sp_blog_1 h4{
    margin-bottom: 0px;
    padding-bottom: 0px;
}
.sp_blog_1 h3{
    font-weight: 600;
}
.sp_blog_1 p{
    color: gray;
}
.sp_blog_1 p{
    display: -webkit-box;
    color: gray;
    text-overflow: ellipsis; 
    -webkit-box-orient: vertical;
    overflow: hidden;
    -webkit-line-clamp: 3;

}
.sp_blog_1 img{
     width: 100%;
}
.blog_button button{
   background-color: black;
   border: none;
   padding: 10px 20px;
   color: white;
   border-radius: 5px;

}
.blog_button{
  text-align: right;
  margin-top: 20px;

}
/*  */

/************************** end body *********************/
.price{
    color: gray;
}
.price:hover{
    border: 1px solid black !important;
    color: black;
}
.tab_bck{
    border: 1px solid black !important;
    color: black;
}

.filter_mb_price{
    position: relative;
}


.sanpham_nam .filter_mb_price{

    width: 100%;
    display: flex;
    overflow-x: auto; 
    white-space: nowrap; 
 
}

/* footer */

.footer{
    background-color:#9f1d25;
    width: 100%;
    margin-top: 20px;
}
.footer_bck{
    padding-top: 20px;
}
.ft_grid{
    display: grid;
    grid-template-columns: 21% 18% 18% 30%;
    justify-content: space-between;
    padding: 20px;
    color: white;
}
.ft_grid{
    line-height: 40px;
}
.ft_grid p{
    font-size: 17px;
}
.ft_1 iframe{
    max-width: 100%;
    height: 40%;
}
.form_ft .fr{
    width: 100%;
}
.form_ft h3{
    text-align: center;
}
.form_ft .ft_1_1{
    display: grid;
    grid-template-columns: 49% 49%;
    justify-content: space-between;

}
.form_ft .fr input{
    background: none;
    border: 1px solid white;
    margin-bottom: 10px;
    width: 100%;
    outline: none;
    color: white;
    padding-left: 10px;
}
.form_ft .fr input::placeholder {
    color: white;
    
}
.form_ft .fr_3 {
    height: 200px;
}
.ft_end{
    background-color: #79161d;
    width: 100%;
    padding: 10px 0px;
    color: white;
    text-align: center;
    
}
  
/************* reponsive *****************/


/* ẩn của mobile */


@media (min-width: 1030px) {
    .s-mobile {
        display: none;
    }
    .menu-icon {
        display: none;
    }
    .table_ut_tt_mobile{
        display: none;
    }
    .hide_ft_4_deskop{
        display: none !important;
    }
}


/* ẩn của mobile */
@media (max-width: 767px) {
    .menu_push a{
        text-decoration: none;
        padding: 10px;
        font-size: 15px;
        line-height: 50px;
    }
    .nam{
        display: flex;
        justify-content: space-between;
        position: relative;
    }
    .icon_push{
        position: absolute;
        top: 16px;
        right: 10px;
        font-size: 20px;
    }
    .product_list_grid{
        display: grid;
        gap: 20px 50px;
        grid-template-columns: repeat(2, minmax(0, 1fr));
        margin-top: 20px;
        font-size: clamp(10px, 8vw, 15px);

    }
    .card_end{
        display: block;
    }
    .thuong_hieu {
        display: grid;
        gap: 10px 10px;
        grid-template-columns: repeat(2, minmax(0, 1fr));
        justify-content: space-between;
    }
    .sale_sanpham {
        display: grid;
        grid-template-columns: repeat(1, minmax(10px, 1fr));
    }
    
    .sale_sanpham .sale_sanpham_item {
        width: 100%;
        
    }

    .sale_sanpham_item12 img {
        width: 100%;
    }
    .sale_sanpham_item1 {
        padding-right: 10px;
    }
    .sale_sanpham_item2 {
        padding-left: 10px;
    }
    .sale_sanpham_item {
        padding-top: 20px;
    }
    .Tintuc .Tintuc_grid{
        display: grid;
        grid-template-columns: repeat(1, minmax(0,100%));
        justify-content: space-between;
     }
    .Tintuc .Tintuc_grid .grid_3_none{
        display: none;
    }
    .Featured_grid{
        display: grid;
        grid-template-columns: repeat(1, minmax(0,1fr));
        justify-content: space-around;
        margin-top: 50px;
    }
    .Featured_grid img{
        display: none;
    }
    .Featured_grid button{
        width: 100%;
        background-color: #4d585e;
        font-size: 17px;
        color: white;
    }
    .list_thuong_hieu .list_2 .tab{
        border: none;
        width: 200px;
        border-radius: 10px;
    }
   
}   

/* ẩn của desktop */

@media (max-width: 1030px) {
    .min_max input{
        width: auto;
        padding: 5px;
        border-radius: 10px;
    
        outline: none;
     }
     .grid_check{
        display: grid;
        align-items: center;
        grid-template-columns: auto auto;
        gap: 20px 25px;
        padding: 10px;
    }
    .min_max{
        display: grid;
        grid-template-columns: repeat(1,minmax(0,1fr));
    }
    .min_max_grid{
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2,minmax(0,1fr));
        gap: 20px;
    }
    .min_max span{
        padding: 10px;
        font-size: 24px;
        font-weight: bold;
        background-color: #333;
        color: white;
        border-radius: 10px;
        margin-top: 10px;
        text-align: center;
    }
    

    .container .banner {
        height: 214px;
    }
    .desktop-menu {
        display: none;
    }
    .hr_desktop_menu {
        display: none;
    }
    .search {
        display: none;
    }
    .header-logo .container .desktop-search {
        display: grid;
        grid-template-columns: 3% 47% 50%;
    }
    hr {
        margin-bottom: 0;
    }
    
    .product_list_grid{
        display: grid;
        gap: 20px 50px;
        grid-template-columns: repeat(4, minmax(0, 1fr));
        margin-top: 20px;

    }
    .card_end{
        display: none;
    }
    .table_ut_tt_mobile hr{
        margin-bottom: 20px;
    } 
    .table_ut_tt{
        display: none;
    }
    /* mobile pr_list */
    .filter_list{
        display: none;
    }
    .filter_sanpham_grid{
        display: none;
    }
    .sanpham_nam{
        width: 100%;
    }
    .ft_mb{
        display: block;
    }
    .sanpham_nam .filter_mb_price{
        display: none;
    }
    /* end mobile pr_list */
     /* Footer */


        .logo{
        margin-left: 10px;
        font-size:  20px !important;
      }
      /* tin tức */
      .blog_img_1{
        background-image:url("../IMG2/tintuc/blog_8.jpg");
        background-position: center; 
        width: 100%;
        height: 250px;
    }
    .blog_img_2{
        background-image:url("../IMG2/tintuc/12.jpg");
        background-position: center; 
        width: 100%;
        height: 250px;
    }
      /* tin tức */
        /* footer */
        .ft_grid{
            display: grid;
            grid-template-columns: 40% 30% 30%;
            justify-content: space-between;
            padding: 20px;
            color: white;
            }
            .ft_grid .ft_4{
             display: none;
            }
            .form_ft h3{
                color: white;
                margin-bottom: 10px;
                
            }
            .form_ft .fr input{
               
                padding: 10px 20px;
            }
              .hide_ft_4_deskop{
                padding: 20px;
               
            }
            .ft_2{
                margin-left: 20px;
            }
          /* end footer */
    

}
/* footer */
@media (min-width: 767px){
    .footer_mb{
        display: none;
    }
    .footer_bck{
        display: block !important;
    }
}
/* end footer */
@media (max-width: 767px) {
    .product_list_grid{
        display: grid;
        gap: 20px 50px;
        grid-template-columns: repeat(2, minmax(0, 1fr));
        margin-top: 20px;
        font-size: clamp(10px, 8vw, 15px);
      
    }
    .card_end{
        display: block;
    }
    .thuong_hieu {
        display: grid;
        gap: 10px 10px;
        grid-template-columns: repeat(2, minmax(0, 1fr));
        justify-content: space-between;
    }
    .sale_sanpham {
        display: grid;
        grid-template-columns: repeat(1, minmax(10px, 1fr));
    }
    
    .sale_sanpham .sale_sanpham_item {
        width: 100%;
        
    }

    .sale_sanpham_item12 img {
        width: 100%;
    }
    .sale_sanpham_item1 {
        padding-right: 10px;
    }
    .sale_sanpham_item2 {
        padding-left: 10px;
    }
    .sale_sanpham_item {
        padding-top: 20px;
    }
    .Tintuc .Tintuc_grid{
        display: grid;
        grid-template-columns: repeat(1, minmax(0,100%));
        justify-content: space-between;
     }
    .Tintuc .Tintuc_grid .grid_3_none{
        display: none;
    }
    .Featured_grid{
        display: grid;
        grid-template-columns: repeat(1, minmax(0,1fr));
        justify-content: space-around;
        margin-top: 50px;
    }
    .Featured_grid img{
        display: none;
    }
    .Featured_grid button{
        width: 100%;
        background-color: #4d585e;
        font-size: 17px;
        color: white;
    }
    .blog_img_1{
        background-image:url("../IMG2/tintuc/blog_8.jpg");
        background-position: center; 
        width: 100%;
        height: 120px;
    }
    .blog_img_2{
        background-image:url("../IMG2/tintuc/12.jpg");
        background-position: center; 
        width: 100%;
        height: 120px;
    }
    .sp_blog_1 h3{
        font-size: 15px !important;

        
    }
     /* Footer */
     .footer_bck{
        display: none;
    }
    .footer_mb{
        color: white;
        line-height: 40px;
        padding: 20px;
    }
    .ft_mb_grid{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .footer_mb h3{
        font-size: 17px;
    }

     
    
     /* footer */
    
      .logo{
        margin-left: 10px;
        font-size:  20px !important;
      }
    }
    



/* ẩn của desktop */
/* hover button */

/* end hover button */

/************* end reponsive *****************/